@charset "utf-8";

/* Primary Font - Roboto | Accent Font - Playfair Display*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Roboto:wght@400;500&display=swap');

/* Color variables from style guide */
:root {
  --clr-primary: #c1121f;
  --clr-primary-var: #780000;

  --clr-secondary: #003049;
  --clr-accent: #669bbc;

  --clr-error: #cf6679;

  --clr-background-darkmode: #121212;
  --clr-background: #000;

  --clr-white: #ffffff;

  --clr-white-hover: #858585;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  min-height: 0;
  min-width: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
  background-color: var(--clr-background);
  font-size: 80.5%;
}

@media (max-width:768px) {
  html {
    font-size: 49.5%;
  }
  p{
    display: none;
  }
}

/* Default font size & weights */

h1 {
  font-family: "Playfair Display", "serif";
  font-weight: 500;
  font-size: 4em;
  opacity: 100%;
  padding-bottom: 5px;
  color: #fff;
}

h2 {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 3em;
  opacity: 87%;
  color: #fff;
}

h3 {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 2.33em;
  opacity: 79%;
  padding-bottom: 5px;
  color: #fff;
}

h4 {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
  opacity: 60%;
}

p {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 1.33em;
  opacity: 60%;
  line-height: 2.08em;
  color: #fff;
}

p.thick {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 1.33em;
  opacity: 87%;
  color: #fff;
}

.button {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 14pt;
  opacity: 87%;
  color: #fff;
}

/* default flex container and item setup */

.flex-container {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

}

.flex-item {
  display: flex;
  flex-grow: 1;

  width: 100%;
  max-width: 1800px;

  height: fit-content;
  flex-wrap: wrap;

  padding: 12px;

}

/* Header */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-background-darkmode);
  border: 1px solid rgba(255, 255, 255, .12);
  padding: 3px;
  padding-left: 20px;
}

.header-logo {
  max-width: min(1000px, 100vw);
  padding: 0px;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 220px;
}

.header-filter {
  max-width: 400px;
  width: fit-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter_checkbox{
  padding-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Space Images */

#loading {
  max-width: 105px;
}

.space-item {
  /* Using 6% opacity as background for depth */
  background-color: rgba(255, 255, 255, .06);
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, .12);
  flex-direction: column;
  align-items: center;
  max-width: min(1000px, 95vw);
  margin-top: 10px;
}

.image-description {
  align-items: flex-start;
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.space-image img {
  max-height: fit-content;
  max-width: min(950px, 90vw);
  border-radius: 9px;
  border: 2px solid rgba(255, 255, 255, .12);
}

/* Like Button and Share Button*/

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: auto;
  transition: 0.1s ease-in-out;
  padding-right:2rem;
  text-align: center;
  width: fit-content;
}

.custom-button {
  padding: 8px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  font-size: 1.5rem;
  margin-right: 8px;
}

.liked{
  animation: grow-and-shrink 0.35s ease-in;
}

@keyframes grow-and-shrink {
  0% {
    font-size: 1.5rem;
  }
  50% {
    font-size: 1.65rem;
  }
  100% {
    font-size: 1.5rem;
  }
}