{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'space_daily/images/space_daily_icon.svg' %}"/>

    <!-- imports -->
    <link rel="stylesheet" type="text/css" href="{% static 'space_daily/css/styles.css' %}" />
    <script src="https://kit.fontawesome.com/8e52d952f2.js" crossorigin="anonymous"></script>
    <script src="{% static 'space_daily/js/main.js' %}"></script>
    <title>Space Daily</title>
</head>

<body onload="load_images();">
    <header class="header">
        <div class="flex-item header-logo">
            <img src="{% static 'space_daily/images/space_daily_logo.svg' %}">
            <div class="flex-item header-filter">
                <input type="checkbox" id="liked_filter" name="show_like_only" onclick="liked_only(this)">
                <label for="show_like_only">
                    <h4>&nbsp;&nbsp;Show Liked</h4>
                </label><br>
            </div>
        </div>
    </header>
    <div class="flex-container">
        <div id="main-page"></div>
        <div class="flex-item" id="loading">
            <img src="{% static 'space_daily/images/loading.gif' %}">
        </div>

    </div>

</body>

</html>